.container {
   
    position: relative;
    background: rgb(0, 0, 0);
    height: 160px;
    width: 1324px;
    display: flex;
    border:-15px;
    margin-top: -1%;
    margin-left: -1%; 
    padding: 15px;
    

  }
   
#gif {
width:40px;
height:40px;
position: absolute;
left: 1309px;
top: 2%;

}

#titleRM {
  

  width: 558px;
  height: 163px;
  margin-left: 75%;
  
}

.magGlass {
  position: absolute;
  left: 1322px;
  top: 8.5%;
  
  
  
}

body {


  min-height: 50vh;
  background-image: url("img/backgroRM1.jpg");
  flex-direction: column;
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
}

body:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  min-height: 104vh;
  background: linear-gradient(to top right, #271d2b, #000000cb);
  opacity: 0.6;
  z-index:-3;
  }


  #pickles {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width:335px;
    height:160px;
    background-image: url("img/pickle.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20%;
    margin-top: 1%;


  }

<<<<<<< Updated upstream
=======

  .lettersWrap {

    background-color: transparent;
    padding: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
    margin-top: -58%;
    margin-bottom: -1%;
    margin-left: 30%;
    white-space: nowrap;
    overflow: hidden;
   
  }
 
>>>>>>> Stashed changes
  .name {
    font-size: 20px;
    color:  rgba(116, 255, 146, 1);
    text-align: justify;
<<<<<<< Updated upstream
    margin-left: 0%;
    margin-top:0%;
    
    
    
=======
    text-shadow: 4px 3px 5px rgb(150, 250, 92);
    text-overflow: ellipsis;
>>>>>>> Stashed changes

  }

  .species {
    font-size: 20px;
    color:  rgba(116, 255, 146, 1);
    text-align: justify;

  }

  .status {
    font-size: 20px;
    color:  rgba(116, 255, 146, 1);
    text-align: justify;
<<<<<<< Updated upstream
=======
    font-family: 'Schoolbell', cursive;
    text-shadow: 2px 3px 5px rgba(230, 10, 10, 0.67);
    
  }

  .image{
    width: 137px; 
    height: 130px;
    margin-top: 4%;
    margin-left: 2%;
    border-radius: 20%;
    border:1px solid black;
   
  }

  #button {
   
   background-color: #72b01d;
   font-family: 'Schoolbell', cursive;
   color:aliceblue;
   border-radius: 21px;
   padding: .5%;
   margin-left: 47%;
   text-shadow: 3px 3px 4px rgb(111, 50, 255);
   border:1px solid rgb(255, 255, 255);


>>>>>>> Stashed changes

  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}